*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "IRANSans";
  src: url("assets/fonts/IRANSansX-Regular.otf");
  /* IE9 Compat Modes */
  src:
    url("assests/fonts/IRANSansX-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/IRANSansX-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/IRANSansX-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("assets/fonts/IRANSansX-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/IRANSansX-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
body{
    font-family: "IRANSans";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('assets/images/remote-office-3d-rendering-concept-illustration.jpg') no-repeat center center/cover;
}
c